.accordion,
.accordion:hover,
.active,
.border-01,
.border-02,
.btn3,
.collapsible {
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial
}
.accordion,
.accordion:hover,
.active {
  border-style: solid
}
.fw-01,
.text-style-02 {
  font-weight: 600
}
.add-bg-01,
.hero-bg {
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat
}
.add-bg,
.add-bg-01,
.bg,
.hero-bg {
  background-size: cover
}
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 100%;
  text-align: left;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  transition: .4s;
  margin-bottom: 5px;
  border-width: 1px;
  border-top: 1px solid #95c397;
  border-right: 1px solid #95c397;
  border-bottom: 1px solid #95c397;
  border-color: #95c397;
  border-radius: 10px
}
.accordion:hover,
.active {
  border-width: 3px;
  border-top: 3px solid #409b75;
  border-right: 3px solid #409b75;
  border-bottom: 3px solid #409b75;
  border-color: #409b75
}
.border-01,
.border-02 {
  border-style: solid;
  border-width: 1px
}
.border-01 {
  border-top: 1px solid #3a4865;
  border-right: 1px solid #3a4865;
  border-bottom: 1px solid #3a4865;
  border-color: #3a4865
}
.border-02 {
  border-top: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  border-color: #3a3a3a;
  padding: 4px;
  border-radius: 4px;
  margin-right: 4px
}
.btn3 {
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  padding: 18px 30px !important;
}
.btn3:hover {
  background-color:#ffffff;
  border-color: #ffffff;
}
.text-style-02 {
  background-color: #d8f8e6;
  padding: 5px;
  text-decoration-line: inherit;
  text-decoration-thickness: inherit;
  text-decoration-style: inherit;
  text-decoration-color: inherit;
  color: #1b8753
}
.st-2,
.text-line {
  text-decoration-line: line-through
}
.st-2,
.text-line,
.text-style-01 {
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial
}
.add-bg-01 {
  background-color: #f6f9f6
}
.hero-bg {
  background-image: url(../images/bg-hero.png)
}
.add-bg {
  background-color: #d0f7dc;
  background-image: url(../images/SP2-1200x628-1x.jpg);
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-position-x: 50%;
  background-position-y: 50%
}
.bg,
.check-icon,
.icon {
  background-repeat-x: no-repeat
}
.bg,
.check-icon,
.icon,
.text-03 {
  background-repeat-y: no-repeat
}
.bg {
  background-image: url(../images/bg-hero02.jpg)
}
.st-2 {
  font-size: xx-large
}
.text-style-01 {
  background-color: #d8f8e6;
  padding: 10px 20px;
  text-decoration-line: underline
}
.btn-color,
.btn-style {
  background-color: #009e73
}
.check-icon {
  padding-left: 30px;
  background-image: url(../images/check.png)
}
.icon {
  background-size: unset
}
.text-03 {
  background-image: url(../images/line-bg-01.png);
  background-repeat-x: repeat
}
.btn-style {
  border-radius: 8px;
  color: #fff;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px
}
.p-01,
.style-01 {
  padding-top: 20px
}
.p-01 {
  margin-top: 20px
}
.border-02:hover {
  opacity: .5
}
.w-logo {
  width: 144px
}
.bg-header {
  color: #1f343a
}
.text-01 {
  padding: 16px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #569877
}
.btn-style-01 {
  opacity: .36
}
.btn-style-02 {
  border-color: #4fb584;
  color: #000
}
.bg-dark-01 {
  background-color: #132a46
}
.btn-secondary:hover {
  opacity: .7
}
.shadow-hover:hover {
  box-shadow: rgba(0,0,0,.2) 0 53px 84px
}
.add-bg-02 {
  background-color: #182945
}
.text-white-01 {
  color: #a6adbe
}
.w100 {
  width: 100%
}
.profile {
  width: 46px;
  height: 46px
}
.panel {
  padding: 20px;
  background-color: #fff;
  display: none;
  overflow-x: hidden;
  overflow-y: hidden
}
.position-absolute {
  top: 147px
}
.w-logo1 {
  width: 250px
}
.text-color {
  background-color: #409b75
}
.icon-color {
  color: #fff
}
.mx-w {
  max-width: 400px;
  padding-bottom: 20px
}

